@CHARSET "ISO-8859-1";

body{

padding: 0px;
margin: -1px;
}
#parte{
width : 900px;
margin-left: 200px;

}
#menudiv{
margin-top: 30px;
width: 1450px;
}
#ladoesquerdo{
margin-left: 200px;
}
#ladodireito{
margin-left: 700px;
margin-top: -460px;
}
#ladoesquerdo2{
margin-left: 200px;
}
#ladodireito2{
margin-left: 700px;
margin-top: -220px;
}
#rodape{
background: #000000; ;
color: white;
padding: 0px;
margin: -1px;
margin-left: -40px;
}

img.tabela {
width: 300px;
}
img.tabela2 {
width: 400px;
height: 310px;
}
table.tabela{
margin-left: 200px;
}

p.rod{
margin-left: 200px;
}
img.ap{
border-radius: 20px;
width: 400px;
height: 400px;
}
img.ap2{
border-radius: 20px;
width: 400px;
height: 200px;
}
p.textos{

text-align: justify;
color:gray;
width: 35%;
border: black 2px;

}
p.textos2{

text-align: justify;
color:gray;
border: black 2px;
width: 60%; 


}
p.titulo{

font-size: 25px;
color: #000000;
font-family: monospace;
font-style:oblique;

                     

}

table.formulario{
margin-left: 27%;
color: gray;

}


ul.menu{
	width: 99.7%;
	
}	

ul.menu, .menu li, .menu a{ 
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
	
	

}
ul.menu ul{ 
	position:absolute; 
	display:none; 
	box-shadow:3px 3px 2px #333;
	
}
 

ul.menu{ 
	float:left; 
	font-family:Verdana, Geneva, sans-serif; 
	font-size:15px; 
	border-radius:2px; 
	padding:0 5px;
	}
.menu li{ 
	float:left; 
	width:auto; 
	position:relative;
	margin-left: 150px;
	}
.menu li a{ 
	display:block; 
	padding:0 20px; 
	line-height:45px; 
	height:45px; 
	float:left; 
	transition:all 0.1s linear; 
	}
 
	
.menu{background: #000000; color: white; }
.menu a{ color:#000; color: white; }
.menu li:hover > a{ background:#808080; color: white;}

ul.reservar{
	width: 60%;
	
}	

ul.reservar, .reservar li, .reservar a{ 
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
	
	

}
ul.reservar ul{ 
	position:absolute; 
	display:none; 
	box-shadow:3px 3px 2px #333;
	
}
 

ul.reservar{ 
	float:left; 
	font-family:Verdana, Geneva, sans-serif; 
	font-size:15px; 
	border-radius:2px; 
	padding:0 5px;
	}
.reservar li{ 
	float:left; 
	width:auto; 
	position:relative;
	margin-left: 150px;
	width: 60%;
	}
.reservar li a{ 
	display:block; 
	padding:0 20px; 
	line-height:45px; 
	height:45px; 
	float:left; 
	transition:all 0.1s linear; 
	}

.reservar{background: #FF8C00; color: white; }
.reservar a{ color:#000; color: white; }
.reservar li:hover > a{ background:#FFA500; color: white;}






#pricing-table {
	margin: 100px auto;
	text-align: center;
	width: 800px; /* total computed width = 222 x 3 + 226 */	
}

#pricing-table .plan {
	font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
	text-shadow: 0 1px rgba(255,255,255,.8);        
	background: #fff;      
	border: 1px solid #ddd;
	color: #333;
	padding: 20px;
	width: 180px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */      
	float: left;
	position: relative;
}



#pricing-table .plan:nth-child(1) {
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;        
}

#pricing-table .plan:nth-child(4) {
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;        
}

/* --------------- */	

#pricing-table h3 {
	font-size: 20px;
	font-weight: normal;
	padding: 20px;
	margin: -20px -20px 50px -20px;
	background-color: #eee;
	background-image: -moz-linear-gradient(#fff,#eee);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
	background-image: -webkit-linear-gradient(#fff, #eee);
	background-image: -o-linear-gradient(#fff, #eee);
	background-image: -ms-linear-gradient(#fff, #eee);
	background-image: linear-gradient(#fff, #eee);
}

#pricing-table #most-popular h3 {
	background-color: #ddd;
	background-image: -moz-linear-gradient(#eee,#ddd);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));    
	background-image: -webkit-linear-gradient(#eee, #ddd);
	background-image: -o-linear-gradient(#eee, #ddd);
	background-image: -ms-linear-gradient(#eee, #ddd);
	background-image: linear-gradient(#eee, #ddd);
	margin-top: -30px;
	padding-top: 30px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0; 		
}

#pricing-table .plan:nth-child(1) h3 {
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;       
}

#pricing-table .plan:nth-child(4) h3 {
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;       
}	

#pricing-table h3 span {
	display: block;
	font: bold 25px/100px Georgia, Serif;
	color: #777;
	background: #fff;
	border: 5px solid #fff;
	height: 100px;
	width: 100px;
	margin: 10px auto -65px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	-moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	-webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

/* --------------- */

#pricing-table ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}

#pricing-table li {
	border-top: 1px solid #ddd;
	padding: 10px 0;
}

/* --------------- */
	
#pricing-table .signup {
	
	padding: 8px 20px;
	margin: 20px 0 0 0;  
	color: #fff;
	font: bold 14px Arial, Helvetica;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;       
	background-color: #000000;
	background-image: -moz-linear-gradient(#000000, #000000);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));    
	background-image: -webkit-linear-gradient(#000000, #000000);
	background-image: -o-linear-gradient(#000000, #000000);
	background-image: -ms-linear-gradient(#000000, #000000);
	background-image: linear-gradient(#000000, #000000);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;     
	text-shadow: 0 1px 0 rgba(0,0,0,.3);        
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
}

#pricing-table .signup:hover {
	background-color: #808080;
	background-image: -moz-linear-gradient(#808080, #808080);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#808080), to(#808080));      
	background-image: -webkit-linear-gradient(#808080, #808080);
	background-image: -o-linear-gradient(#808080, #808080);
	background-image: -ms-linear-gradient(#808080, #808080);
	background-image: linear-gradient(#808080, #808080); 
}

#pricing-table .signup:active, #pricing-table .signup:focus {
	background: #62bc30;       
	top: 2px;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset; 
}

/* --------------- */

.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear {
  zoom:1
}
